### Collection Objects in Python
-  Lists
-  Tuples
-  Dictionaries
-  Sets

#### Python Lists
A List in Python is a collection object. Lists can hold a sequence of items or elements which can be of same or different data types including other collection objects. Lists elements can be accessed using the Index or relative position numbers starting from the start or end of the List. 
Lists are mutable, i.e. they can be changed anytime after they are created.

In [26]:
# Create our first List
lst1 = [1,2,3,4]
print(lst1)

[1, 2, 3, 4]

In [27]:
# Create a List with Multiple types of Data and Change them after creation
lst1 = ['Jimi', 5000, True, 3.8, 2019, 300]
print(lst1)
lst1[1] = 7000    # Update the 2nd element of the List
print("Demonstrate Mutability: ", lst1)

['Jimi', 5000, True, 3.8, 2019, 300]
Demonstrate Mutability:  ['Jimi', 7000, True, 3.8, 2019, 300]

In [28]:
# Access Lists with relative positioning
lst1 = ['Jimi', 5000, True, 3.8, 2019, 300]
print("Print the 3rd Element of lst1: ", lst1[2])   # Relative indexing from the start
print("Print the 3rd Element of lst1: ", lst1[-4])   # Relative indexing from the end

Print the 3rd Element of lst1:  True
Print the 3rd Element of lst1:  True

#### Slicing Lists

In [29]:
# Access cross section of Lists 
lst1 = ['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
print(lst1[1:5])    # Print elements 2 to 5
print(lst1[:5])    # Print elements start to 5 - default start 0
print(lst1[1:])    # Print all elements starting from 2nd - default end is all

['Gilchrist', 'Waugh', 'Dravid', 'Pollock']
['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock']
['Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']

#### Striding

In [30]:
# Access cross section of Lists with stride
lst1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(lst1[1:12:2])    # Print elements 2 to 12 jumping 2 elements at a time

[2, 4, 6, 8, 10, 12]

#### Adding elements in a List

In [31]:
# Adding single elements in Lists
lst1 = [1,2,3,4,5,6,7,8,9,10]
for x in range(5):
    lst1.append(x)   # Append one element each time to the List
print(lst1)          # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4]

In [32]:
# Adding multiple elements in Lists
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst1.extend([11,12,13,14])     # Extend the List by several elements
print(lst1)                    # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [33]:
# Adding multiple elements in Lists -- another way
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [11,12,13,14]
lst1 += lst2    # Add lst2 to lst1
print(lst1)     # Print the final List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

#### Removing an Element from a List

In [34]:
# Removing an element using the pop method
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst1.pop()    # Removes the last element in-place
print("After pop: ", lst1)
lst1.pop(3)    # Removes the specified element in-place
print("After pop of 4th element: ", lst1)

After pop:  [1, 2, 3, 4, 5, 6, 7, 8, 9]
After pop of 4th element:  [1, 2, 3, 5, 6, 7, 8, 9]

In [35]:
# Removing an element using the remove method
lst1 = ['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
lst1.remove('Waugh')    # Removes the specified element in-place
print(lst1)

['Gayle', 'Gilchrist', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']

In [36]:
# Removing an element using the del keyword
lst1 = ['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']
del lst1[2:4]    # Removes the elements at the specified index range
print(lst1)

['Gayle', 'Gilchrist', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni']

### Refer to Differences between Tuple and Lists

## TUPLES
Tuple is an ordered sequence of items same as a list. The only difference is that tuples are immutable. Tuples once created cannot be modified.

Tuples are used to write-protect data and are usually faster than lists as they cannot change dynamically.

#### Creating Tuples

In [37]:
# Creating Tuples in various ways
tup1 = ()   # Create an empty Tuple
print("Contents of an empty Tuple: ", tup1)
tup1 = (1,2,3,4,5)
print("Contents of a simple Tuple: ", tup1)
tup1 = (1,2,(5,6,7),4,5)
print("Contents of a Nested Tuple: ", tup1)
tup1 = (1,2,(5,6,7),4,[9,8,7])
print("Contents of a Tuple having a Nested List: ", tup1)
tup1 = ('Rohit', 'Karnataka', True, 2000)
print("Contents of a Tuple having mixed Data Types: ", tup1)

Contents of an empty Tuple:  ()
Contents of a simple Tuple:  (1, 2, 3, 4, 5)
Contents of a Nested Tuple:  (1, 2, (5, 6, 7), 4, 5)
Contents of a Tuple having a Nested List:  (1, 2, (5, 6, 7), 4, [9, 8, 7])
Contents of a Tuple having mixed Data Types:  ('Rohit', 'Karnataka', True, 2000)

In [38]:
# Creating Tuple using the tuple function
lst1 = [1,2,3,4,5]       # Create a List
tup1 = tuple(lst1)
print("Print Tuple Created from a List", tup1)
dict1 = {'Name': 'Robert', 'Salary': 2000}     # Dictionary are key:value pairs separated by comma
tup2 = tuple(dict1)     # Note that the Tuple is created with the values of the Dictionary Indexes 
print("Print Tuple Created from a Dictionary", tup2)
str1 = "Christiano Ronaldo"
tup3 = tuple(str1)   # Tuple created from a String
print("Print Tuple Created from a String", tup3)

Print Tuple Created from a List (1, 2, 3, 4, 5)
Print Tuple Created from a Dictionary ('Name', 'Salary')
Print Tuple Created from a String ('C', 'h', 'r', 'i', 's', 't', 'i', 'a', 'n', 'o', ' ', 'R', 'o', 'n', 'a', 'l', 'd', 'o')

#### Accessing Tuple Elements

Like Lists, Tuple elements can be accessed using a relative index value that can be counted from the start (using a positive index number) or at the end (using a negative index number).

In [39]:
# Access Tuples with relative positioning
tup1 = ('Jimi', 5000, True, 3.8, 2019, 300)
print("Print the 3rd Element of Tup1: ", tup1[2])   # Relative indexing from the start
print("Print the 3rd Element of Tup1: ", tup1[-4])   # Relative indexing from the end

Print the 3rd Element of Tup1:  True
Print the 3rd Element of Tup1:  True

#### Slicing Tuples

We can access a cross section of a Tuple by providing a start and an end position. 
Syntax: Tuplename[start:end]

In [40]:
# Access cross section of Tuples 
tup1 = ('Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni')
print(tup1[1:5])    # Print elements 2 to 5
print(tup1[:5])    # Print elements start to 5 - default start 0
print(tup1[1:])    # Print all elements starting from 2nd - default end is all

('Gilchrist', 'Waugh', 'Dravid', 'Pollock')
('Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock')
('Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni')

In [41]:
# Access cross section of Tuples with stride
tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)
print(tup1[1:12:2])    # Print elements 2 to 12 jumping 2 elements at a time

(2, 4, 6, 8, 10, 12)

In [42]:
# Index - Returns the zero-based (positive) index of the first element matching the value of the parameter.

tup1 = (1, 3, 7, 8, 7, 5)
print(tup1.index(8))

3

In [43]:
# Count - Returns the number of times the a value passed as a parameter appears on the Tuple. 

tup1 = (1,2,3,4,5,6,7,8,5,10,11,12,13,14)
print(tup1.count(5))

2

In [44]:
# Any - The any method returns True if any of the elements is True. 

tup1 = (1,2,3,4,5,6,7,8)
tup2 = (0, 0)
print(any(tup1))
print(any(tup2))

True
False

In [45]:
# All - Returns True if all the elements in the Tuple are True. 

tup1 = (1,2,3,4,6,0,7,8)
tup2 = (1,1,1,1)
print(all(tup1))
print(all(tup2))

False
True

In [46]:
# Enumerate - The Enumerate method takes in an iterable (Tuple in this case), adds a sequence number to it and returns an Enumerate object. 

tup1 = ('Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni')
print(list(enumerate(tup1)))

[(0, 'Gayle'), (1, 'Gilchrist'), (2, 'Waugh'), (3, 'Dravid'), (4, 'Pollock'), (5, 'Tendulkar'), (6, 'Gavaskar'), (7, 'Dhoni')]

In [47]:
# Zip is a built in Python function that takes in two sequences and returns a combined pair set. 

tup1 = (1,2,3,4,5)
tup2 = ('Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock')
print(list(zip(tup1, tup2)))

[(1, 'Gayle'), (2, 'Gilchrist'), (3, 'Waugh'), (4, 'Dravid'), (5, 'Pollock')]

In [48]:
# Sorted - Returns a sorted List of the passed Tuple. 
res = sorted(('Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock'))
print("Sorted: ", res)
rev = sorted(('Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock'), reverse=True)
print("Reverse Sorted: ", rev)

Sorted:  ['Dravid', 'Gayle', 'Gilchrist', 'Pollock', 'Waugh']
Reverse Sorted:  ['Waugh', 'Pollock', 'Gilchrist', 'Gayle', 'Dravid']

In [49]:
# Returns a reversed iterator of the sequence that is passed as parameter. 

tup1 = ('Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock')
res = list(reversed(tup1))
print("Reversed: ", res)

Reversed:  ['Pollock', 'Dravid', 'Waugh', 'Gilchrist', 'Gayle']

In [50]:
# Max - Returns the maximum value from the Tuple.

tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)
print(max(tup1))

14

In [51]:
# Returns the maximum value from the Tuple.

tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)
print(min(tup1))

1

In [52]:
# Returns the maximum value from the Tuple.

tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14)
print(sum(tup1))

105

#### Copying a Tuple - As Tuples are mutable, there cannot be much of a rationale to create a copy of a Tuple. The assignment operator ‘=’ and ‘deepcopy’ works but they simply create a new reference to the same memory location.

In [1]:
# Copy Using Deepcopy
from copy import deepcopy
import copy
tup1 = [1, 2, 3, 4, 5]
tup2 = copy.deepcopy(tup1)
print("Copy: ", tup2)
print(id(tup1))
print(id(tup2))

NameError: name 'copy' is not defined

In [29]:
# Copy using assignment
tup3 = (1, 2, 3, 4, 5)
tup4 = tup3
print("Copy: ", tup4)
print(id(tup3))
print(id(tup4))

Copy:  (1, 2, 3, 4, 5)
2295109138800
2295109138800

### Dictionaries

A Dictionary in Python is a sequence or collection of Key:Value pairs. A dictionary is expressed within curling braces {}. The key is called the Index and the values can be accessed using the Index value from any specific pair. 
Dictionaries “values” are mutable, i.e. values against a key can be updated after the dictionary is created and can be of any data type. However, the “Key” cannot be updated (immutable). The Key cannot be duplicated also. i.e. there cannot be two keys in the same dictionary with the same name. 
Dictionary can hold “values” as other collections such as a Numpy Array, List or Set.  
It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In [30]:
# Create our First Dictionary
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 
             'ATM_Location': 'HSR Layout', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
print(dict_tran)

{'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'ATM_Location': 'HSR Layout', 'Acc_Type': 'Savings', 'Amount_Drawn': 8000}

In [31]:
# Create a Dictionary with a List as one of the values
dict_tran = {'Cust_id' : 'C0789', 'Cust_Trans': ['T001', 'T003', 'T006']}
print(dict_tran)

{'Cust_id': 'C0789', 'Cust_Trans': ['T001', 'T003', 'T006']}

In [32]:
# Create a Dictionary from a set of Tuples in a List using the Dict Method
dict_tran = dict([('Cust_id', 'C0789'), ('Cust_Trans', 'T001')])
print(dict_tran)

{'Cust_id': 'C0789', 'Cust_Trans': 'T001'}

In [33]:
# Populate from an empty dictionary
dict_tran = {}
dict_tran['Cust_id'] = 'C0789'
dict_tran['Cust_Trans'] = 'T001'
print(dict_tran)

{'Cust_id': 'C0789', 'Cust_Trans': 'T001'}

#### Accessing Dictionaries

In [34]:
# Access Dictionary Elements by using 'Keys' to access the 'Values'
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
print("Printing Value of Tran_id: ", dict_tran['Tran_id'])
print("Printing Value of Cust_Id: ", dict_tran['Cust_Id'])

Printing Value of Tran_id:  T0089
Printing Value of Cust_Id:  C000876

In [35]:
# Access Dictionary Elements by using 'Keys' to access the 'Values' -- Nested Dictionaries
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 
             'Tran_info': {'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}}
print("Printing Value of Tran_id: ", dict_tran['Tran_id'])
print("Printing Value of Tran_info: ", dict_tran['Tran_info'])
print("Printing Value of Amount_Drawn: ", dict_tran['Tran_info']['Amount_Drawn'])

Printing Value of Tran_id:  T0089
Printing Value of Tran_info:  {'Acc_Type': 'Savings', 'Amount_Drawn': 8000}
Printing Value of Amount_Drawn:  8000

#### Adding Elements in a Dictionary
Elements or new key:value pairs can be added into a Dictionary by assigning the value against the new key. The following example demonstrates.

In [36]:
# Adding an element (key:value) by value assignment against a new key
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_tran['ATM_Location'] = 'Bengaluru'
print("Printing the updated dictionary: ", dict_tran)

Printing the updated dictionary:  {'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings', 'Amount_Drawn': 8000, 'ATM_Location': 'Bengaluru'}

In [37]:
# Adding an element (key:value) by using the update method of dictionary
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_tran.update({'ATM_Location': 'Bengaluru', 'Amount_Given': 6000})
print("Printing the updated dictionary: ", dict_tran)

Printing the updated dictionary:  {'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings', 'Amount_Drawn': 8000, 'ATM_Location': 'Bengaluru', 'Amount_Given': 6000}

#### Removing an Element from a Dictionary
Removing an element from a dictionary requires identifying the element through the ‘key’. The ‘del’ statement removed the element in-place.

In [38]:
# Deleting an Element from a Dictionary
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
del dict_tran['Acc_Type']
print("Printing the updated dictionary: ", dict_tran)

Printing the updated dictionary:  {'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'Amount_Drawn': 8000}

In [39]:
# Deleting an Element from a Dictionary using 'pop'
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
popped = dict_tran.pop('Acc_Type')
print("Printing the updated dictionary: ", dict_tran)
print("What did I pop? ", popped)

Printing the updated dictionary:  {'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'Amount_Drawn': 8000}
What did I pop?  Savings

### Trapping KeyError in a Dictionary
Most operations on a Python Dictionary requires a ‘key’ to access the value, hence there is probability of specifying a wrong key. A dictionary operation throws a ‘KeyError’ when a wrong key is specified and it is advisable to trap it, especially if the key is provided dynamically in the program.

In [65]:
# Deleting an Element from a Dictionary using 'pop' while trapping 'KeyError'
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
try:
    popped = dict_tran.pop('Acc_Type1')
    print("Printing the updated dictionary: ", dict_tran)
    print("What did I pop? ", popped)
except KeyError:
    print("Key Specified is not found in dict_tran")

Key Specified is not found in dict_tran

In [66]:
# Clear - Deletes all elements in the Dictionary
# 'Clear' the Dictionary
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_tran.clear()
print(dict_tran)

{}

In [67]:
# Copy - Returns a copy of the Dictionary
# 'Copy' the Dictionary
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_copy = dict_tran.copy()
print(dict_copy)

{'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings', 'Amount_Drawn': 8000}

In [40]:
# Creates a dictionary from a specified sequence of keys.
# Create a new Dictionary with a specified sequence of key-values
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
keys = {'Cust_Id', 'Acc_Type'}
dict_copy = dict_tran.fromkeys(keys)
print(dict_copy)

{'Acc_Type': None, 'Cust_Id': None}

In [69]:
# Get - Returns the value of a key specified.
# 'get' the value of a specified key
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_get = dict_tran.get('Cust_Id')
print(dict_get)

C000876

In [70]:
# Returns all the key:value pairs in the dictionary in the form of a List of Tuples.
# Return the key:value pairs from the dictionary as a list of key:value Tuples 
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_items = dict_tran.items()
print(dict_items)

dict_items([('Tran_id', 'T0089'), ('Cust_Id', 'C000876'), ('Acc_Type', 'Savings'), ('Amount_Drawn', 8000)])

In [71]:
# Returns a list containing all the keys of the Dictionary.
# Return all the Keys of the dictionary
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_keys = dict_tran.keys()
print(dict_keys)

dict_keys(['Tran_id', 'Cust_Id', 'Acc_Type', 'Amount_Drawn'])

In [72]:
# Values - Returns all the values 
# Return all the Values of the dictionary
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_vals = dict_tran.values()
print(dict_vals)

dict_values(['T0089', 'C000876', 'Savings', 8000])

In [73]:
# Popitem - Removes the last Inserted key:value pair
# Deleting the last Element from a Dictionary using 'popitem'
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
popped = dict_tran.popitem()
print("Printing the updated dictionary: ", dict_tran)
print("What did I pop? ", popped)

Printing the updated dictionary:  {'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings'}
What did I pop?  ('Amount_Drawn', 8000)

In [43]:
# Setdefault - Insert a specified key:value pair. If the Key exists, returns the value.
# Insert a key:value pair. If the pair exists, return the value
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
dict_tran.setdefault('New_field', 6766)
print("Printing the updated dictionary - pass 1: ", dict_tran)
ret = dict_tran.setdefault('Amount_Drawn', 6766)
print("Printing the updated dictionary - pass 2: ", dict_tran)
print("Checking the returned value: ", ret)

Printing the updated dictionary - pass 1:  {'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings', 'Amount_Drawn': 8000, 'New_field': 6766}
Printing the updated dictionary - pass 2:  {'Tran_id': 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings', 'Amount_Drawn': 8000, 'New_field': 6766}
Checking the returned value:  8000

#### Iterating through a Dictionary
Traversing through a dictionary is similar to traversing through other iterators in Python. While traversing through a dictionary in a for loop, python returns the current Key. The value as usual can be extracted.

In [75]:
# Iterating through a Dictionary
dict_tran = {'Tran_id' : 'T0089', 'Cust_Id': 'C000876', 'Acc_Type': 'Savings' , 'Amount_Drawn': 8000}
for x in dict_tran:
    print("Key: ", x, " -- Value: ", dict_tran[x])

Key:  Tran_id  -- Value:  T0089
Key:  Cust_Id  -- Value:  C000876
Key:  Acc_Type  -- Value:  Savings
Key:  Amount_Drawn  -- Value:  8000

### SETs

Sets are unordered collection objects containing unique mutable elements. Set objects are used in Python the purpose of carrying out special set operations such as finding unions, differences, intersections, symmetric intersections, etc between datasets. Sets are also used for membership testing, i.e. testing for whether an element is part of the set or not. Another key property of sets is that elements in a set are unordered. Hence, it is not possible to access elements in a set using indexes, or carrying out other sequence operations like slicing, unlike other collection objects in Python such as Lists, Tuples, Dictionaries and Numpy Arrays.

In [76]:
# Creating a Set
set1 = set(['Gayle', 'Gilchrist', 'Waugh', 'Dravid', 'Pollock', 'Tendulkar', 'Gavaskar', 'Dhoni'])
print(set1)

{'Gavaskar', 'Gilchrist', 'Pollock', 'Waugh', 'Dhoni', 'Tendulkar', 'Dravid', 'Gayle'}

### Finding the Intersections of two Sets 
Intersections return the elements that are common across the two sets used as operands. 
The following code demonstrates two ways intersections between two sets are found.
- Use the ‘&’ operator that returns the elements common between set1 & set2.
- Use the Intersection method of set object. 
At the end, we compare the result sets (int1 and int2) to find if they are the same.

In [77]:
# Finding an Intersection
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set(['a', 'b', 'c', 'e', 'f', 'h', 'm', 't', 'q'])
print("Set 1: ", set1)
print("Set 2: ", set2)
int1 = set1 & set2     # Use the '&' - intersection operator
int2 = set1.intersection(set2)     # Use the intersection method of set object
print("Intersection using the & Operator: ", int1)
print("Intersection using the Intersection method: ", int2)
if int1 == int2:
    print("The Intersections are same")

Set 1:  {'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}
Set 2:  {'f', 'a', 'c', 'm', 'e', 'b', 'q', 'h', 't'}
Intersection using the & Operator:  {'f', 'a', 'c', 'e', 'b', 'h'}
Intersection using the Intersection method:  {'f', 'a', 'c', 'e', 'b', 'h'}
The Intersections are same

#### Finding the Union of two Sets 
Union return unique occurrences of all elements among the two sets used as operands. 
The following code demonstrates two ways unions between two sets are found.
- Use the ‘|’ operator that returns the union between set1 & set2. Interpreted as ‘return all which are in either set1 or set2 plus the unique of the ones common across both sets’.  
- Use the Union method of set object. 
At the end, we compare the result sets (uni1 and uni2) to find if they are the same.

In [78]:
# Finding an Union
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set(['a', 'b', 'c', 'e', 'f', 'h', 'm', 't', 'q'])
print("Set 1: ", set1)
print("Set 2: ", set2)
uni1 = set1 | set2     # Use the '|' - union operator
uni2 = set1.union(set2)     # Use the union method of set object
print("Union using the | Operator: ", uni1)
print("Union using the Union method: ", uni2)
if uni1 == uni2:
    print("The Unions are same")

Set 1:  {'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}
Set 2:  {'f', 'a', 'c', 'm', 'e', 'b', 'q', 'h', 't'}
Union using the | Operator:  {'f', 'a', 'd', 'c', 'm', 'e', 'b', 'q', 'g', 'h', 't'}
Union using the Union method:  {'f', 'a', 'd', 'c', 'm', 'e', 'b', 'q', 'g', 'h', 't'}
The Unions are same

#### Finding the Difference of two Sets 
The difference operation on sets, set1 and set2 return all elements that are found in set1 but not there in set2. 
The following code demonstrates two ways differences between two sets are found.
- Use the ‘-’ operator that returns the difference between set1 & set2. Interpreted as ‘return all elements that are found in set1 but not in set2’.  
- Use the difference method of set object. 
At the end, we compare the result sets (dif1 and dif2) to find if they are the same.

In [79]:
# Finding a Difference
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set(['a', 'b', 'c', 'e', 'f', 'h', 'm', 't', 'q'])
print("Set 1: ", set1)
print("Set 2: ", set2)
dif1 = set1 - set2     # Use the '-' (Difference operator)
dif2 = set1.difference(set2)     # Use the Difference method of set object
print("Difference using the - Operator: ", dif1)
print("Difference using the Difference method: ", dif2)
if dif1 == dif2:
    print("The Differences are same")

Set 1:  {'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}
Set 2:  {'f', 'a', 'c', 'm', 'e', 'b', 'q', 'h', 't'}
Difference using the - Operator:  {'g', 'd'}
Difference using the Difference method:  {'g', 'd'}
The Differences are same

### Finding the Symmetric Difference of two Sets 
The symmetric difference operation on sets, set1 and set2 return all elements that are found in set1 and set2 but not in both. 
The following code demonstrates two ways symmetric differences between two sets are found.
- Use the ‘^’ operator that returns the symmetric difference between set1 & set2. Interpreted as ‘return all elements that are found in set1 and set2 but not in both’.  
- Use the symmetric_difference method of set object. 
At the end, we compare the result sets (dif1 and dif2) to find if they are the same.

In [80]:
# Finding Symmetric Difference
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set(['a', 'b', 'c', 'e', 'f', 'h', 'm', 't', 'q'])
print("Set 1: ", set1)
print("Set 2: ", set2)
dif1 = set1 ^ set2     # Use the '^' (Symmetric Difference operator)
dif2 = set1.symmetric_difference(set2)     # Use the symmetric_difference method of set object
print("Symmetric Difference using the ^ Operator: ", dif1)
print("Symmetric Difference using the symmetric_difference method: ", dif2)
if dif1 == dif2:
    print("The Symmetric Differences are same")

Set 1:  {'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}
Set 2:  {'f', 'a', 'c', 'm', 'e', 'b', 'q', 'h', 't'}
Symmetric Difference using the ^ Operator:  {'d', 'm', 'q', 'g', 't'}
Symmetric Difference using the symmetric_difference method:  {'d', 'm', 'q', 'g', 't'}
The Symmetric Differences are same

In [81]:
# Add an element in a Set
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print("Set 1: ", set1)
set1.add('i')     # Use the add method of set object to add the new element 'i'
print("Updated Set1: ", set1)

Set 1:  {'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}
Updated Set1:  {'f', 'a', 'd', 'c', 'e', 'b', 'i', 'g', 'h'}

#### Test of Membership
We can check if an element is part of a set by using the ‘in’ or ‘not in’ statements. A Boolean is returned based on whether or not the specified element if part of the set in question.

In [82]:
# Check if element 'c' is part of set1
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print("Whether c is present in Set1: ", 'c' in set1)
print("Whether c is present in Set1...negative way: ", 'c' not in set1)

Whether c is present in Set1:  True
Whether c is present in Set1...negative way:  False

In [83]:
# Check for subset or superset
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set(['b', 'e', 'f', 'h'])
print("Set 1: ", set1)
print("Set 2: ", set2)
print("Whether Set2 is a subset of set1: ", set2.issubset(set1))
print("Whether Set1 is a superset of set2: ", set1.issuperset(set2))

Set 1:  {'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}
Set 2:  {'b', 'f', 'h', 'e'}
Whether Set2 is a subset of set1:  True
Whether Set1 is a superset of set2:  True

In [84]:
# Update - The ‘update’ function updates multiple elements into a set.
# Adding Multiple Elements using the 'update' method 
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set1.update(['w', 'x', 'm', 'a'])
print(set1)

{'f', 'a', 'd', 'x', 'c', 'm', 'e', 'b', 'g', 'h', 'w'}

In [85]:
# Len - The ‘len function returns the number of elements in a set.
# Finding the number of elements in a Set
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(len(set1))

8

In [86]:
# Copy - The copy function creates a Physically separate copy of the set. 
# An “=” assignment operator creates only a reference (a different variable name on the same memory location). 
# To create a physically separate new copy, or a shallow copy, the ‘copy’ method has to be used.  

set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set1.copy()

print("Printing original set: ", set1)
print("Printing the copied set: ", set2)
print("Memory Address of Set1: ", id(set1))
print("Memory Address of Set2: ", id(set2))
set1.add('t')
print(set1)
print(set2)

Printing original set:  {'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}
Printing the copied set:  {'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}
Memory Address of Set1:  140718894114848
Memory Address of Set2:  140718894113952
{'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h', 't'}
{'f', 'a', 'd', 'c', 'e', 'b', 'g', 'h'}

In [87]:
# Remove - The ‘remove’ method removes an element from the set. ‘remove’ raises a KeyError if the element is not present.
# Remove an element from the Set
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set1.remove('d')
print(set1)

{'f', 'a', 'c', 'e', 'b', 'g', 'h'}

In [88]:
# Pop - Removes an arbitrary element from the set and returns it. 
# Pop an element from the Set
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
x = set1.pop()
print("Popped Item: ", x)
print("New Set: ", set1)

Popped Item:  f
New Set:  {'a', 'd', 'c', 'e', 'b', 'g', 'h'}

In [89]:
# Intersection_update - The Intersection_update method returns set1 keeping only those elements that 
# are also found in set2. Intersection_update --- Return set1 keeping only those elements also found in set2
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set(['b', 'e', 'f', 'h', 'u', 'j'])
set1.intersection_update(set2)
print("Intersection Update: ", set1)

Intersection Update:  {'b', 'f', 'h', 'e'}

In [90]:
# Difference_update - The difference_update method returns those elements in set1 after removing those also found in set2.
# Difference_update --- Return set1 after removing  those elements also found in set2
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set(['b', 'e', 'f', 'h', 'u', 'j'])
set1.difference_update(set2)
print("Difference Update: ", set1)

Difference Update:  {'a', 'd', 'c', 'g'}

In [91]:
# symmetric_difference_update - Updates set1 with elements found in both set1 or set2 but not both.
# Symmetric_Difference_update --- Updates set1 keeping those elements found in Set1 and Set2 but not both
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
set2 = set(['b', 'e', 'f', 'h', 'u', 'j'])
set1.symmetric_difference_update(set2)
print("Symmetric Difference Update: ", set1)

Symmetric Difference Update:  {'u', 'a', 'd', 'c', 'g', 'j'}

### Iterating through a Set
Traversing through a set is similar to traversing through other iterators in Python. With each iteration, Python returns an element from the set till all elements are exhausted.

In [92]:
# Traversing through a set
set1 = set(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
for x in set1:
    print(x)

f
a
d
c
e
b
g
h

In [2]:
list1 = [1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [8]:
list2 = ['Atria',5000,True , 3.8,2025,300]
print(list2)
list2[1]=('Atria University')
print(list2)
list2[2]=("Atria Deemed University")
print(list2)

['Atria', 5000, True, 3.8, 2025, 300]
['Atria', 'Atria University', True, 3.8, 2025, 300]
['Atria', 'Atria University', 'Atria Deemed University', 3.8, 2025, 300]

In [15]:
list3 = ['Atria',3000,True, 3.8,2025,300]
print("Accessing the 3rd element: ",list3[4])
print("Accessing the 4th element: ",list3[-5])

Accessing the 3rd element:  2025
Accessing the 4th element:  3000

In [20]:
list3 = ['sriaknth','suresh','sreyas','sriindu']
print(list3)
print(list3[1:3])
print(list3[:4])
print(list3[1:])

['sriaknth', 'suresh', 'sreyas', 'sriindu']
['suresh', 'sreyas']
['sriaknth', 'suresh', 'sreyas', 'sriindu']
['suresh', 'sreyas', 'sriindu']

In [22]:
list4 =[1,2,3,4,5,6,7,8,9,10,11,12]
print(list4[1:6:2])

[2, 4, 6]

In [23]:
list4 =[1,2,3,4,5,6,7,8,9,10]
for x in range(5):
    list4.append(x)
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4]